.page {
  min-width: 320px;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 42px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #000;
}

@media screen and (max-width: 1045px) {
  .page {
    padding-top: 28px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}
