/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.places-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-grid-columns: 282px 282px 282px;
  grid-template-columns: 282px 282px 282px;
  -ms-grid-rows: 365px 16px 365px;
  grid-template-rows: 365px 365px;
  grid-row-gap: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.places-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.places-grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.places-grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.places-grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.places-grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.places-grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

@media screen and (max-width: 1279px) {
  .places-grid {
    -ms-grid-columns: 282px 18px 282px;
    grid-template-columns: 282px 282px;
    -ms-grid-rows: 361px 361px 361px;
    grid-template-rows: 361px 361px 361px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-column-gap: 18px;
  }
  .places-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .places-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .places-grid > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .places-grid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .places-grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .places-grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

@media screen and (max-width: 768px) {
  .places-grid {
    -ms-grid-columns: 282px;
    grid-template-columns: 282px;
    -ms-grid-rows: 361px 20px 361px 20px 361px 20px 361px 20px 361px 20px 361px;
    grid-template-rows: 361px 361px 361px 361px 361px 361px;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    row-gap: 20px;
  }
  .places-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .places-grid > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .places-grid > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .places-grid > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .places-grid > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .places-grid > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
}
