.profile__name {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.09;
  color: #fff;
  margin: 0;
  padding: 0;
  grid-area: name;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media screen and (max-width: 1279px) {
  .profile__name {
    text-align: center;
  }
}

@media screen and (max-width: 1045px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.21;
  }
}
