.profile__description {
  grid-area: description;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  color: #fff;
  margin: 0;
  padding-top: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media screen and (max-width: 1279px) {
  .profile__description {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__description {
    font-size: 14px;
  }
}
