/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 32px;
  width: 32px;
  background-image: url("../../../images/close-button.svg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: initial;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .popup__close-button {
    height: 20px;
    width: 20px;
    top: -36px;
    right: 0;
  }
}
