/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.popup__close-button {
  border: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 32px;
  width: 32px;
  background-image: url("../../../images/close-button.svg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: inherit;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .popup__close-button {
    height: 20px;
    width: 20px;
  }
}
