/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: < 1%,last 4 versions
*/

.profile__info {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  -ms-grid-rows: auto 8px auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "name edit-button"
    "description .";
  padding-left: 30px;
  row-gap: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 1045px) {
  .profile__info {
    padding-bottom: 34px;
  }
}
