.popup__item {
  margin: 0;
  border: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  padding-left: 36px;
  padding-right: 36px;
  width: 100%;
  padding-bottom: 34px;
}

.popup__item:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .popup__item {
    padding-left: 22px;
    padding-right: 22px;
  }
}
